.accordion details:after{
  content: '';
  display: block;
  height: 2px;
  background-color: rgb(235, 232, 232);
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 32px;
  }
  
  /* stylelint-disable-next-line no-descending-specificity */
  .accordion details + details {
    /* margin-top: 24px; */
  }
  
  .accordion details .accordion-item-label p {
    /* margin-bottom: 0.8em; */
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 550;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  .accordion details .accordion-item-body p{
    font-size: 14px;
    line-height: 1.75;
    margin: 0 0 13.5px;
    text-align: justify;
    display:block;
    unicode-bidi: isolate;
  }
  .accordion details summary {
    position: relative;
    padding: 0 30px;
    padding-right: 46px;
    cursor: pointer;
    list-style: none;
    /* overflow: auto; */
    transition: background-color 0.2s;
  }
  
  .accordion details[open] summary {
    /* background-color: var(--light-color); */
  }
  
  .accordion details summary:focus,
  .accordion details summary:hover {
    /* background-color: var(--light-color); */
  }
  
  .accordion details summary::-webkit-details-marker {
    display: none;
  }
  
  .accordion details summary::after {
    content: '+';
    position: absolute;
    top: -20px;
    right: 10%;
    /* transform: translateY(-50%) rotate(135deg); */
    font-size: 50px;
    /* border: 2px solid; */
    /* border-width: 2px 2px 0 0; */
    transition: transform 0.2s;
  }
  
  .accordion details[open] summary::after {
    content: '-';
    position: absolute;
    /* top: 20%; */
    right: 10%;
    font-size: 50px;
    /* transform: translateY(-50%) rotate(135deg); */
    
    /* transform: translateY(-50%) rotate(-45deg); */
  }
  
  .accordion details .accordion-item-body {
    padding: 0 16px;
  }
  
  .accordion details[open] .accordion-item-body {
    /* border-top: 1px solid #dadada; */
    /* background-color: var(--background-color); */
  }